name: Deploy QR-Code-Flask

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: ~/actions-runner/_work/QR-Code-Flask

      - name: Build and deploy Docker container
        run: |
          cd ~/actions-runner/_work/QR-Code-Flask
          
          # Останавливаем старый контейнер, если есть
          docker-compose down || true
          
          # Строим новый образ на SSD
          docker-compose build
          
          # Запускаем контейнер в фоне
          docker-compose up -d
          
          # Проверяем контейнер
          docker ps --filter "name=qr-code-flask"
          docker inspect --format='{{.State.Health.Status}}' qr-code-flask || echo "Healthcheck failed"
