name: Deploy Project

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Project
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and deploy Docker container
        working-directory: ${{ github.workspace }}
        run: |
          set -e
          
          echo "Проверка директории проекта"
          pwd
          ls -la

          if [ ! -f "docker-compose.yml" ]; then
            echo "Ошибка: docker-compose.yml не найден!"
            exit 1
          fi

          echo "Останавливаем старый контейнер"
          docker-compose down || true

          echo "Строим новый образ"
          docker-compose build

          echo "Запускаем контейнер в фоне"
          docker-compose up -d

          echo "Ждем инициализации контейнера..."
          sleep 10

          echo "Проверка состояния контейнера"
          docker ps --filter "name=qr-code-flask"
          docker inspect --format='{{.State.Health.Status}}' qr-code-flask || echo "Healthcheck failed"